* {
	margin: 0;
}

.tiles {
	width:  32px;
	height: 32px;
	position: absolute;
	left: calc(50% - 448px);
	top: calc(50% - 400px);
}

.selected {
	box-sizing: border-box;
	border: 1px solid lightblue;
}

#ValidateButton {
	width: 40px;
	position: absolute;
	left: calc(50% - 40px);
	top: calc(50% + 405px);
}